# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#floder
Intermediate
Saved
*.sdf
*.opensdf
*.sln
*.suo
*.pdb
*.exe
*-DebugGame.dll
SurvivalGame/Binaries/Win64/SurvivalGame.exp
SurvivalGame/Binaries/Win64/SurvivalGame.lib
SurvivalGame/Releases
*.log
*.target.xml
